* text=auto

*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.sh text eol=lf

*.jpeg binary
*.jpg binary
*.png binary
*.pdf binary
*.epub binary
*.mp3 binary
*.m4a binary
*.m4b binary
*.wav binary
*.mp4 binary
*.mov binary
*.psd binary
*.tif binary
*.tiff binary

